name: Save Spotify Logs

on:
  schedule:
    - cron: "0 21 * * *"
  workflow_dispatch:

jobs:
  save-logs:
    runs-on: ubuntu-latest
    environment: conf

    env:
      GITHUB_API_TOKEN: ${{ secrets.GITHUB_API_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run collect_github_repo_info
        run: python collect_github_repo_info.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add -A
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "chore: update GitHub repo documents [bot]"
            git push
          fi
